h1 {
  font-family: 'Courier New', monospace;
  margin-bottom: 60px;
  font-size: 70px
}

body {
   font-family: 'Courier New', monospace;
  text-align: center;
  font-size: 20px;
  background: rgb(255, 153, 255);
}
 

input, label, select {
  text-align: center;
  width: 80px;	
  font-size: 28px;
}
#sign{
  height: 40px;
}
button {
  width: 25%;
  margin: 30px auto;
  padding: 10px 15px;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
  border: none;
  color: white;
  cursor: pointer;
}
#background {
  margin-left: 200px;
  margin-top: 75px;
  max-width: 900px;
  background: #fff;
  width: 1600px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  height: 75vh;
}
#span {
  margin-left: 10px;
  font-size: 30px;
}

